<input type="checkbox" id="hamburger_checkbox" name="hamburger_checkbox" class="hamburger_checkbox">
<header class="site-header wrapper">
    <div class="site-title">
        <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    </div>
    <label for="hamburger_checkbox" class="hamburger_label"><i class="fas fa-bars"></i></label>
    <nav class="site-nav">
        <ul>
            <li><a href="{{ '/' | relative_url }}"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="{{ '/about/' | relative_url }}"><i class="fas fa-info-circle"></i>About</a></li>
            <li><a href="{{ '/contacts/' | relative_url }}"><i class="fas fa-phone-volume"></i>Contacts</a></li>
            <li><a href="#"><i class="fas fa-concierge-bell"></i>Services</a></li>
        </ul>
    </nav>
</header>