<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/9578b4b943.js"></script>
    <title>{{site.title}}</title>
</head>

<body>
    <div class="site">
        {% include header.html %}
        <main class="site-main">
            <div class="jumbotron">
                <div class="jumbotron-content">
                    <div class="jumbotron-text">
                        <h1>Welcome</h1>
                        <p>to Paws and Beaks</p>
                        <p>We offer all the best quality products </p><p>and services for your adorable pets.</p>
                        <a href="{{ site.baseurl }}about/" class="btn-about">About us</a>
                    </div>
                </div>
            </div>
            {{content}}
        </main>
        {% include footer.html %}
    </div>
</body>

</html>