.jumbotron {
    position: relative;
    overflow: hidden;

    &:before {
        display: block;
        content: '';
        background-image: url('http://www.ingridkuhn.com/themes/happypaws/img/slide1.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        padding-top: 50%;
    }
    
    &-content {
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        height: 100%;
        width: 100%;
        transform: rotate(55deg);
        animation: slideFromLeft 1s ease-in-out;
        animation-fill-mode: both;
        color: white;
    }
    
    &-text {
        text-align: center;
        text-transform: uppercase;
        color: white;
        position: absolute;
        top: 20%;
        left: 30%;
        z-index: 20;
        transform: rotate(-55deg);

        p:nth-child(2) {
            font-size: 1.5em;
            margin-bottom: 0.5rem;
        }
        
        p:nth-child(4) {
            margin-bottom: 1rem;
        }
    }

}

.btn-about {
    background: var(--secondary-color);
    padding: 1rem 2rem;
    border-radius: 0.5em;
    margin-top: 1rem;
    transition: background 0.2s ease-in;

    &:hover {
        background: var(--primary-color);
    }
}

@media screen and (max-width: 960px) {
    .jumbotron-content {
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        height: 100%;
        width: 100%;
        transform: rotate(0deg);
        color: white;
        animation: slideFromBottom 1s ease-in-out;
        animation-fill-mode: both;
    }

    .jumbotron-text {
        transform: rotate(0deg) translate(-50%,0 );
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        left: 50%;
        top: 0;
        width: 100%;
        font-size: 1.75vw;

        p, h1 {
            margin: 0;
            padding: 0;
            text-transform: none;
        }

        h1 {
            margin-right: 0.5em;
            width: 45%;
            text-align: right;
            font-size: 2em;
            margin-top: 1.75rem;
            transform: translateX(-10%);
        }

        p:nth-child(2) {
            margin: 0;
            margin-top: 1.75rem;
            font-size: 2em;
            width: 45%;
            text-align: left;
            transform: translateX(-10%);
        }

        p:nth-child(3) {
            width: 47%;
            text-align: right;
        }

        p:nth-child(4){
            text-align: left;
            width: 47%;
            margin: 0;
            margin-left: 0.5em;
        }
    }

    .btn-about {
        padding: 0.7em 1.5em;
    }
}

@keyframes slideFromLeft{
    from {
        left: -100%;
    }

    to {
        top: 20%;
        left: -30%;
    }
}

@keyframes slideFromBottom {
    from {
        top: 100%;
    }

    to {
        top: 50%;
    }
}