.services-jumbotron {
    position: relative;

    &:before {
        @include pseudo;
        padding-top: 25%;
        background-image: url('https://www.esaote.com/uploads/pics/header-us-mri-vet.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 55%;
    }

    &:after {
        @include pseudo;
        background: rgba(black, 0.5);
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 2;
    }

    &-content {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        color: #FFF;
        z-index: 4;

        h1 {
            font-size: 5vw;
        }
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;

    @include mq(960px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mq(480px) {
        grid-template-columns: 1fr;
    }
    
    .product {
        text-align: center;
        border: 1.5px solid var(--primary-color);

        &-title {
            margin-bottom: 2rem;
            background: var(--primary-color);
            color: #FFF;
            padding: 1rem 0;
        }

        &-img {
            position: relative;
            overflow: hidden;
            margin: 0 2rem;
            margin-bottom: 2rem;
            box-shadow: 0 0 5px 0px rgba(0,0,0,0.75);
            transition: box-shadow 0.3s ease-in-out;

            &:hover {
                box-shadow: 0 0 10px 7px rgba(0,0,0,0.3);
            }

            &:before {
                @include pseudo;
                padding-top: 100%;
            }

            img {
                display: block;
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: auto;
            }
        }

        &-info {
            margin: 0 2rem;

        }
    }
}

.offers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    text-align: center;

    @include mq(960px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4rem;
    }

    @include mq(480px) {
        grid-template-columns: 1fr;
    }

    .offer-title {
        background: var(--primary-dark-color);
        color: #FFF;
        padding: 1rem 0;
        margin: 0;
    }

    .offer-price {
        background: var(--secondary-dark-color);
        padding: 2rem 0;

        p {
            padding: 0;

            &:last-child {
                position: relative;
                top: -0.5rem;
            }
        }

        span {
            font-weight: bold;
            font-size: 3em;
        }
    }

    .offer-services {
        padding: 2rem 0;
        border: 1.5px solid var(--secondary-dark-color);

        li {

            &:not(:first-child) {
                margin-top: 2rem;
            }

            .btn-sign-up {
                display: inline-block;
                background: var(--secondary-color);
                padding: 1.5rem 1.5rem;
                color: #FFF;
                transition: background 0.3s ease-in;

                &:hover {
                    background: var(--primary-color);
                }
            }
        }
    }

}

.adoption {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2rem;

    & + .section-title {
        margin-top: 0;

        @include mq(768px) {
            margin-top: 2rem;
        }
    }
    
    &-img {
        display: flex;
        flex-direction: column;

        &::before {
            @include pseudo;
            flex: 1 0 40px;
        }

        &::after {
            @include pseudo;
            flex: 1 0 40px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    @include mq(768px) {
        display: block;

        &-img {
            display: none;
        }
    }

}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    grid-auto-flow: dense;
    margin: 0;
    padding: 0;

    &-item {
        position: relative;
        transition: transform 0.3s ease-in-out;

        &-img {
            position: relative;
            overflow: hidden;
            box-shadow: 0 0 7px 2px rgba(0,0,0,0.5);
        }
        
        &:hover {
            transform: scale(1.2);
            z-index: 4;
        }

        &:hover &-info {
            display: block;
        }

        &.landscape &-img::before {
            @include pseudo;
            padding-top: 56.25%;
        }

        &.landscape img {
            display: block;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: auto;
        }

        &.portrait &-img::before {
            @include pseudo;
            padding-top: 200%;
        }

        &.portrait img {
            display: block;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            height: 100%;
        }

        &.large &-img::before {
            @include pseudo;
            padding-top: 90%;
        }

        &.large img {
            display: block;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            height: 100%;
        }

        &.landscape {
            grid-column: span 2;
            grid-row: span 1;
        }

        &.portrait {
            grid-row: span 2;
            grid-column: span 1;
        }

        &.large {
            grid-row: span 2;
            grid-column: span 2;
        }

        &-info {
            display: none;
            position: absolute;
            top: 0; left: 100%;
            background: #FFF;
            padding: 1rem 2rem;
            width: 15rem;
            box-shadow: 0 0 7px 2px rgba(0,0,0,0.5);

            @include mq(768px) {
                width: 10rem;
            }

            @include mq(480px) {
                left: initial;
                top: 100%;
                width: 100%;
            }

            span {
                display: inline-block;
                font-weight: bold;
            }

            &.left-info {
                left: initial; right: 100%;
            }

            .adopt-btn {
                background: var(--secondary-color);
                color: #FFF;
                padding: 0.5rem 1.5rem;
                border-radius: 0.3rem;
                transition: background 0.3s ease-in;
                border: 0;

                &:hover {
                    background: var(--primary-color);
                }
            }
        }

        
    }

    @include mq(1024px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @include mq(960px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include mq(768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mq(480px) {
        grid-template-columns: repeat(2, 1fr);
    }
}
